fastapi==0.115.4
uvicorn[standard]==0.32.0
python-multipart==0.0.12
deepface==0.0.93
tensorflow-cpu==2.18.0
opencv-python-headless==4.10.0.84
Pillow==11.0.0
numpy==1.26.4
scikit-learn==1.5.2
pandas==2.2.3
gdown==5.2.0
tqdm==4.67.0
requests==2.32.3
retina-face==0.0.17
fire==0.7.0
gunicorn==23.0.0
tf-keras==2.18.0